/* heading */
.title {
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 600;
}
.highlight {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 600;
}
.title-xl {
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 900;
}
/* texts */
.large {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
}
.main {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
}
.hint {
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 400;
}
.tiny {
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 400;
}
/* functions */
.input-label {
  font-family: "Rubik";
  font-size: 13px;
  font-weight: 600;
}
.input {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 300;
}
.form-text {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
}
.button {
  font-family: "Rubik";
  font-size: 12px;
  font-weight: 600;
}
.sticker {
  font-family: "Rubik";
  font-size: 10px;
  font-weight: 600;
}
.sticker-secondary {
  font-family: "Rubik";
  font-size: 10px;
  font-weight: 600;
}
