// Color codes
$red: #ED1C24;
$white: #FFFFFF;
$black: #000000;
$bg1: #F9F9F9;
$bg2: #F4F4F4;
$bg3: #F0F1F6;
$stroke: #E0E0E0;
$gray: #898989;
$text: #221E20;
$green: #5CB83E;
$link: #0042EC;
$alert: #FFD10033;
$cyan: #3CDBC0;
$pink: #F04E98;
$yellow: #FFD100;
$blue: #0047BB;
$r2: #0047BB;
$r3: #CB2C30;
$c2: #86C8BC;
$p2: #F09491;
$y2: #F1C400;
$b2: #141B4D;
