<div class="otp-container">
  <div class="phone-number">
    <span class="input-label">CURRENT PHONE NUMBER</span>
    <span class="change button" (click)="onChangePhone()">CHANGE</span>
  </div>
  <div class="phone-value main">{{currentPhoneNumber}}</div>

  <div class="otp-prompt input-label">PLEASE ENTER OTP</div>

  <div class="otp-box">
    <ng-otp-input class="input" [formCtrl]="otpFormControl" #otpInput
      [config]="{length:6, allowNumbersOnly: true}"></ng-otp-input>
    <span class="input">{{ timer }}s</span>
  </div>
  @if (timer === 0) {
  <p class="main">Don't received? <a class="resend" (click)="onResend()">Resend</a></p>
  }
  @if (error && timer > 0) {
  <p class="main">Wrong OTP. <a class="resend" (click)="onReset()">Try Again</a></p>
  }
</div>

<div class="btn-continue">
  <button class="button" [ngClass]="{ 'btn-inactive': otpFormControl.invalid || error }"
    [disabled]="otpFormControl.invalid || error" mat-raised-button color="warn" (click)="onContinue()">
    CONTINUE
  </button>
</div>