<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (submit)="handleSubmit()" [formGroup]="productForm">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="name" placeholder="Prodcut Name " />
            @if (productForm.get('name')?.invalid &&
            productForm.get('name')?.touched) {
            <mat-error class="hint error"> Please enter name </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Category</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="category" placeholder="Category">
              @for(option of categoryList; track option.name) {
              <mat-option [value]="option.name">{{ option.name }}</mat-option>
              }
            </mat-select>
            @if (productForm.get('category')?.invalid &&
            productForm.get('category')?.touched) {
            <mat-error class="hint error"> Please enter category </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Price</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="price" type="price" placeholder="Product price" />
            @if (productForm.get('price')?.invalid &&
            productForm.get('price')?.touched) {
            <mat-error class="hint error"> Please enter price </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">description</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="description" placeholder="Product Description" />
            @if (productForm.get('description')?.invalid &&
            productForm.get('description')?.touched) {
            <mat-error class="hint error"> Please enter Description </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button type="submit" mat-flat-button color="primary" class="m-r-8">
          Submit
        </button>
        <button type="button" mat-stroked-button color="warn" (click)="handleCancel()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>